body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.engineer-card {
    border: 6px solid fuchsia;
    padding: 12px 24px;
    border-radius: 6px;

}

.employee-name,
.title {
    text-align: center;
}

.employee-wrapper {
    display: flex;
    margin: 0 auto;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 24px;
}

.heading {
    text-align: center;
    background-color: #20FC8F;
    margin-top: 0;
    padding: 24px;
}

.intern-card {
    border: 6px solid fuchsia;
    padding: 12px 24px;
    border-radius: 6px;

}

.manager-card {
    margin: 0 auto;
    border: 6px solid fuchsia;
    padding: 12px 24px;
    border-radius: 6px;

}